@charset "utf-8";
/* CSS Document */
body{
	margin: 0 auto;
	padding: 0;
	border: 0;
}
.fixdiv{
	position:fixed;
	top:50px;
	left: 50px;
	z-index: 10;
	width: 550px;
	height: 400px;
	overflow: hidden;
	background-color: aqua;
}